/**
 *
 */
.pb-container{
    position: absolute;
    bottom: 10px;
    left: 25%;
    width: 50%;
    min-height: 40px;
    box-sizing: border-box;
    background: #121135;
    color: #565B96;
}
.pb-container ul{
    padding: 0px;
    margin: 0px;
}
.pb-container li{
    list-style: none;
    display: inline-block;
    padding: 0px 1px;
}
.pb-conMiddle span{
    padding: 0px 1px;
}
.pb-container .pb-conLeft,.pb-container .pb-conMiddle,.pb-container .pb-conRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pb-container .pb-conLeft{
    left: 0px;
}
.pb-container .pb-conRight{
    /*right: 40px;*/
}
.pb-container .pb-conRightDiv{
    position: absolute;
    top: 0px;
    right: -40px;
}
.pb-container .pb-conMiddle{
    overflow: hidden;
}
.pb-container .pb-conRight .pb-btn.pb-toRight{
    /*margin-left: 20px;*/
}
.pb-container .pb-conLeft .pb-btn.pb-toLeft{
    margin-right: 20px;
}
.pb-container .pb-btn{
    display: inline-block;
    width: 25px;
    min-height: 25px;
    line-height: 25px;
    border: solid 1px #392D96;
    text-align: center;
}
.pb-container .pb-conLeft .pb-btn{
    margin-left: 5px;
}
.pb-container .pb-conRight .pb-btn{
    /*margin-right: 5px;*/
}
.pb-btn:not(.pb-disabled):hover{
    background: #211776;
    cursor: pointer;
}
.pb-disabled:hover{
    cursor: not-allowed;
}

.pb-hidden:not(.pb-right){
    display: none !important;
}
.pb-hidden.pb-right{
    visibility: hidden;
}
.pb-active{
    background: #4334AE;
    color: #fff;
}
.pb-disabled{
    background: #0A0A1C;
    color: #1f2242;
    border-color: #1f2242 !important;
}
